//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

.scrollable-modal-content {
    max-height: 80vh;
    overflow: scroll;
}


.scrollable-75vh {
    max-height: 75vh;
    overflow: auto;
}

.scrollable-70vh {
    max-height: 70vh;
    overflow: auto;
}

.scrollable-65vh {
    max-height: 65vh;
    overflow: auto;
}
